<div>
  <div>
    <div *ngFor="let message of messages" style="margin-bottom: 5px; word-wrap: break-word">
      <strong>{{message.from}}: </strong> {{message.text}}
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">CreatedBy</th>
      <th scope="col">Active</th>
      <th scope="col">Creation date</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let machine of machines; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ machine.id }}</td>
      <td>{{ machine.name }}</td>
      <td>{{ machine.status }}</td>
      <td>{{ machine.createdBy.username }}</td>
      <td>{{ machine.active }}</td>
      <td>{{ machine.creationDate }}</td>

      <td>
        <button (click)="startMachine(machine)" type="button" class="btn btn-light">Start</button>
      </td>
      <td>
        <button (click)="stopMachine(machine)" type="button" class="btn btn-outline-dark">Stop</button>
      </td>
      <td>
        <button (click)="restartMachine(machine)" type="button" class="btn btn-outline-dark">Restart</button>
      </td>
      <td>
        <button (click)="destroyMachine(machine)" type="button" class="btn btn-danger">Destroy</button>
      </td>
      <td>
        <button [routerLink]="['/machineAction', machine.id]" type="button" class="btn btn-info">Schedule Action</button>
      </td>


      <!--    <td [routerLink]="['/editUser', user.userId]">{{ user.username }}</td>-->
      <!--    <td>{{ user.roles }}</td>-->
      <!--    <td>-->
      <!--      <button (click)="deleteUser(user)" type="button" class="btn btn-danger"-->
      <!--              [style.visibility]="configService.canUserDelete() ? 'visible' : 'hidden'">Delete</button>-->
      <!--    </td>-->
    </tr>
    </tbody>
  </table>
</div>


